<% if @bookmark.errors.any? %>
  <div id="error_explanation" class="container">
    <div class="col-md-8 col-md-offset-2">
      <h2>
        <%= pluralize(@bookmark.errors.count, "error") %> prohibited
        this bookmark from being saved:
      </h2>
      <ul>
        <% @bookmark.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    </div>
  <% end %>
  
    <%= simple_form_for [@user,@bookmark] do |f| %>
      <%= f.input :title, class:"form-control" %>
      <%= f.input :image, :class => 'search_location form-control' %>
      <%= f.input :description, class:'form-control' %>
      <%= f.input :location, class:'form-control' %>
      <%= f.input :time, class:'form-control' %>
      <%= f.input :url, class:'form-control', placeholder:"Enter a url" %>
      <%= f.submit  class: "btn btn-default btn-primary"%>
      <%= link_to 'Cancel', root_path, class: "btn btn-danger" %>
    <% end %>