<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h2 class="text-center"><%= current_user.first_name %>'s Bookmarks</h2>
                <% @bookmarks.each do |bookmark| %>
                <div class="bookmarkDiv">
                    <% if bookmark.image.empty? %>
                        <%= image_tag("no-image.jpg") %>
                    <% else %>
                        <img src="<%= bookmark.image %>">
                    <% end %>
                    <div class="bookmark specifics">
                        <div class="bookmark title"><%= bookmark.title %></div>
                        <div class="bookmark description"><%= (bookmark.description).match(/^.*?[\.!\?](?:|$)/).to_s %></div>
                        <div class="bookmark location"><%= bookmark.location %></div>
                        <div class="bookmark time"><%= bookmark.time.to_s.gsub(/\s+/m, ' ').strip.split(" ")[0][0..4] %></div>
                        <div class="bookmark date"><%= bookmark.time.to_s.gsub(/\s+/m, ' ').strip.split(" ")[1] %></div>
                        <div class="bookmark url"><%= link_to "Event Page", bookmark.url %></div>
                        <span id="bookmark-links"><%= link_to "Edit", [:edit, bookmark], class: " btn bookmark edit" %>
                        <%= link_to "Delete", bookmark, :method=>"delete", data: { confirm: 'Are you sure you want to delete this alert?' }, class: "btn bookmark delete" %>
                        <%= link_to "Add bookmark to reminders?", bookmark_path(bookmark.id), class: "btn bookmark reminder" %></span>
                    </div>
                </div>
                <% end %>
                <div class="btn-group">
                    <%= link_to "Back", :back, :class => "btn btn-primary pull-left"%>
                    <%= link_to "Find Events", root_path, :class => 'btn btn-primary pull-right'%>
                </div>
        </div>
    </div>
 <!--    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
        <h2 class="text-center">Add a bookmark below:</h2>

            <div id="post-new-bookmark">
                <%= simple_form_for [current_user, @bookmark], :method => :post, remote: true do |f| %>
                    <% if @bookmark.errors.any? %>
                     <div id="errorExplanation">
                      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this post from being saved:</h2>
                      <% end %>
                    <%= f.input :title %>
                    <%= f.input :url %>
                    <%= f.input :image %>
                    <%= f.input :description %>
                    <%= f.input :location %>
                    <%= f.input :time %>
                    <%= f.button :submit%>
                <% end %>
            </div>

        </div>
    </div> -->

</div>