<!-- adding a bookmark as a reminder -->

<div class="container-fluid">
  <h2>Add Your bookmark as a reminder</h2>
  
  <div>
    <%= simple_form_for @reminder, :url => user_reminders_path(current_user), :method => :post do |f| %>
    <%= f.text_field :title, :value => @bookmark["title"] %>
    <%= f.text_field :time, :value => @bookmark["time"] %>
    <%= f.text_field :body, :value => @bookmark["description"][0...30] %>
    <%= f.button :submit %>
    <% end %>
  </div>

<!-- be able to grab the id from the params and create a reminder -->
</div>