<div>
<!-- make these divs -->
  <%= simple_form_for bookmark, :url => user_bookmarks_path(current_user), :method => :post do |f| %>
  <!-- hidden fields -->
  <!-- divs -->
  <div><%=bookmark.title%></div>
  <div><img src="<%=bookmark.image%>"></div>
  <div><%=bookmark.description%></div>
  <div><%=bookmark.date%></div>
  <div><%=bookmark.time%></div>
  <div><%=bookmark.url%></div>
  <%= f.button :submit %>
  <% end %>
</div>

