<div>
<!-- make these divs -->
  <%= simple_form_for bookmark, :url => user_bookmarks_path(current_user), :method => :post do |f| %>
  <!-- hidden fields -->
  <!-- divs -->
    <%= f.text_field :title, :input_html => {:value => bookmark.title}%>
    <%= f.text_field :image, :input_html => {:value => bookmark.image}%>
    <%= f.text_field :description, :input_html => {:value => bookmark.description}%>
    <%= f.text_field :date, :input_html => {:value => bookmark.date}%>
    <%= f.text_field :time, :input_html => {:value => bookmark.time}%>
    <%= f.text_field :url, :input_html => {:value => bookmark.url}%>
  <%= f.button :submit %>
  <% end %>
</div>

