<h2>Edit Bookmark <%= @bookmark.title %></h2>

<%= simple_form_for [@user, @bookmark] do |f| %>

  <% if @bookmark.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @bookmark.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :image %>
  <%= f.input :description %>
  <%= f.input :location %>
  <%= f.input :time %>
  <%= f.input :date %>
  <%= f.input :url %>
  <%= f.button :submit %>
  <%= link_to 'Cancel', user_bookmarks_path(current_user.id), class: "btn btn-danger"  %>
<% end %>

