<!-- show all of the user's bookmarks here -->
<!-- be able to add these bookmarks as reminders -->
<h2>List of all of my bookmarks</h2>
<div id="all-bookmarks">
    <% @bookmarks.each do |bookmark| %>
    <div>
            <div><%= bookmark.title %></div>
            <div><%= bookmark.image %></div>
            <div><%= bookmark.description %></div>
            <div><%= bookmark.location %></div>
            <div><%= bookmark.time %></div>
            <div><%= bookmark.date %></div>
            <div><%= bookmark.created_at %></div>
            <div><%= bookmark.updated_at %></div>
            <div><%= bookmark.url %></div>
            <div><%= link_to "Edit", [:edit, bookmark]%></div>
            <div><%= link_to "Delete Bookmark", bookmark, :method => :delete, data: {confirm: "Are you sure?"}%></div>
    </div>
    <% end %>
</div>


<h2>Add a bookmark below:</h2>
<div id="post-new-bookmark">
    <%= simple_form_for [@user, @bookmark], remote: true, :method => :post  do |f| %>
        <% if @bookmark.errors.any? %>
         <div id="errorExplanation">
          <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this post from being saved:</h2>
          <% end %>
        <%= f.input :title %>
        <%= f.input :image %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.input :date %>
        <%= f.button :submit %>
    <% end %>
</div>






