<!-- show all of the user's bookmarks here -->
<!-- be able to add these bookmarks as reminders -->
<b>Bookmarks</b>
    <ul id="all-bookmarks">
    <% @bookmarks.each do |bookmark| %>
    <div>
            <li><%= bookmark.title %></li>
            <li><%= bookmark.image %></li>
            <li><%= bookmark.description %></li>
            <li><%= bookmark.location %></li>
            <li><%= bookmark.time %></li>
            <li><%= bookmark.date %></li>
            <li><%= bookmark.created_at %></li>
            <li><%= bookmark.updated_at %></li>
            <li><%= bookmark.url %></li>
            <li><%= link_to "Edit", [:edit, bookmark]%></li>
            <li><%= link_to "Delete Bookmark", bookmark, :method => :delete, data: {confirm: "Are you sure?"}%></li>
    </div>
    <% end %>


<h2>Add a bookmark below:</h2>

    <div id="post-new-bookmark">
        <%= simple_form_for [@user, @bookmark], remote: true, :method => :post  do |f| %>
            <% if @bookmark.errors.any? %>
             <div id="errorExplanation">
              <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this post from being saved:</h2>
              <% end %>
            <%= f.input :title %>
            <%= f.input :image %>
            <%= f.input :description %>
            <%= f.input :location %>
            <%= f.input :date %>
            <%= f.button :submit %>
        <% end %>
    </div>






