<%= simple_form_for @reminder, :url => user_reminders_path(current_user) do |f| %>
<!-- making a custom reminder? -->
<!-- server-side errors -->
  <% if @reminder.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @reminder.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
    <!-- manual phone number input for now -->
    <%= f.input :phone_number %>
    <%= f.input :title %>
    <!-- entering time manually -->
    <%= time_select :reminder, :time, {:class => "form-control" } %>
    <%= date_select :reminder, :time, {:class => "form-control" } %>
    <div class="buttons">
    <%= f.button :submit %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        user_reminders_path(current_user.id), :class => 'btn btn-default' %>
        </div>
<% end %>