<!-- format this page! -->
<div class="container-fluid">
<div class="row">
<div class="col-xs-8 col-xs-offset-2">

    <%- model_class = Reminder -%>
    <div class="page-header">
      <h2 class="text-center">My Upcoming Reminders</h2>
    </div>
    <%= link_to "make a custom reminder", new_user_reminder_path, :class => 'newReminderBtn btn btn-primary' %>
    <!-- change this from a table to something else -->
    <table class="table">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th><%= model_class.human_attribute_name(:time) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @reminders.each do |reminder| %>
          <tr>
            <td><%= reminder.title %></td>
            <td><%= reminder.time %></td>
            <td>
              <%= link_to "Edit", 
                          edit_reminder_path(reminder), :class => 'btn btn-default btn-xs' %>
              <%= link_to "Delete",
                          reminder_path(reminder),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
</div>
</div>

</div>

