<!-- <p class="navbar-text pull-right"> -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Text Planner
      </a>
    </div>

    
    <% if user_signed_in? %>

      
      <p class="navbar-text navbar-left">Welcome, <strong><%= current_user.first_name.to_s+" "+current_user.last_name.to_s %></strong></p>

        <div class="navbar-right">
          <%= link_to "Home", home_path, :class => 'btn btn-default navbar-btn navbar-text' %>
          <div class="dropdown-toggle navbar-right navbar-btn btn btn-default navbar-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu</div>

            <ul class="dropdown-menu">
              <li><%= link_to "My Bookmarks", user_bookmarks_path(current_user.id)%></li>
              <li><%= link_to "My Upcoming Reminders", user_reminders_path(current_user.id)%></li>
              <li><%= link_to "My Profile", user_path(current_user.id)%></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
      </div>
    <% else %>
    <div class="navbar-right">
      <%= link_to "Home", home_path, :class => 'btn btn-default navbar-btn' %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-default navbar-btn'  %>
      <%= link_to "Login", new_user_session_path, :class => 'btn btn-default navbar-btn'  %>
    <% end %>
    </div>
  </div>
</nav>



