<div class="container-fluid">
  <div class="row">


    <div id="profile-column" class="col-xs-6">
      <h2 class="text-center"><%= @user.first_name + " " + @user.last_name %></h2>

      <div id="profile-picture">
        <%= image_tag @user.avatar.url(:medium) %>
      </div>
      
      <div>
        <%= link_to "Edit Profile Info", edit_user_registration_path, class: "btn btn-default" %>
      </div>
    </div>




    <div id="followers" class="col-xs-3">
      <% if current_user == @user %>
      <h4>Users I Follow</h4>
      <hr class="style-one">
        <ul>
        <% for friendship in @user.friendships %>
          <li>
            <%= friendship.friend.first_name %>
            (<%= link_to "Remove", friendship, :method => :delete %>)
          </li>
        <% end %>
        </ul>
        <% end %>
        
          <%= link_to "Find friends to follow!", users_path, class: "btn btn-default" %>

    </div>

    <div class="col-xs-3">
      <h4 class="text-center">Followers</h4>
      <hr class="style-one">
        <ul>
        <% for user in @user.inverse_friends %>
          <li><%= user.first_name + " " + user.last_name%></li>
          <li><%= link_to "User's profile", user_path(user) %></li>
       <% end %>
        </ul>
    </div>

  </div>
</div>

