<!-- "my" or current user? -->
<div class="container-fluid">
  <h2><%= @user.first_name + " " + @user.last_name %>'s Profile</h2>
  
  <p><%= link_to "Find Some Friends!", users_path %></p>


  <h4><%= @user.first_name + " " + @user.last_name %>'s Friends</h4>
  <ul>
    <% for friendship in @user.friendships %>
      <li>
        <%= friendship.friend.first_name %>
        (<%= link_to "Remove", friendship, :method => :delete %>)
      </li>
      <% end %>
  </ul>

  <h4>Followers</h4>
  <ul>
    <% for user in @user.inverse_friends %>
    <li><%= user.first_name + " " + user.last_name%></li>
    <% end %>
  </ul>

</div>

