<!-- once add to reminders, it means that a future text is incoming. -->
<h2>My Reminders</h2>

<!-- all reminders are already made, this is just a list of things to happen. -->
<%- model_class = Reminder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:phone_number) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <th><%= model_class.human_attribute_name(:creattitleed_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td><%= link_to reminder.id, reminder_path(reminder) %></td>
        <td><%= reminder.title %></td>
        <td><%= reminder.phone_number %></td>
        <td><%= reminder.time %></td>
        <td><%=l reminder.created_at %></td>
        <td>
          <%= link_to "Edit", 
                      edit_reminder_path(reminder), :class => 'btn btn-default btn-xs' %>
          <%= link_to "Delete",
                      reminder_path(reminder),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Reminder",
            new_user_reminder_path,
            :class => 'btn btn-primary' %>

