<nav id="mainNav" class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">EVENText</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="navbar-text"><span class="glyphicon glyphicon-user" aria-hidden="true"><a href="/users/<%=current_user.id%>" class="navbar-link"><%=current_user.first_name%></a></span></li>
          <!-- .nounderline{text-decoration: none} -->
          <li><%= link_to "Event Search", root_path %></li>
          <li><%= link_to "Bookmarks", user_bookmarks_path(current_user.id) %></li>
          <li><%= link_to "Reminders", user_reminders_path(current_user.id)%></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Signup", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
 


